{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block container_class %}container{% endblock container_class %}

{% block header %}&nbsp;{% endblock header %}

{% block footer %}
<hr>
<p>&copy; 2013 <a href="http://www.asu.edu/" target="_blank">Sonata, an ASU student collaboration</a></p>
{% endblock footer %}