{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block container_class %}container{% endblock container_class %}

{% block head_style %}
{{ parent() }}
{% stylesheets
    'less/main.less'
    '@MopaBootstrapBundle/Resources/bootstrap/less/responsive.less'
debug=false %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block header %}&nbsp;{% endblock header %}

{% block content_content %}{% endblock content_content %}

{% block footer %}
<hr>
<p>&copy; 2013 <a href="http://www.asu.edu/" target="_blank">Sonata, an ASU student collaboration</a></p>
<hr>
{% endblock footer %}