{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block container_class %}container{% endblock %}

{% block header %}&nbsp;{% endblock %}

{% block footer %}
<p>&copy; <a href="http://www.asu.edu/" target="_blank">Sonata</a> 2013</p>
{% endblock footer %}