{% extends '::base.html.twig' %}

{% block headline %}Welcome{% endblock headline %}

{% block content_content %}
{{ parent() }}
This is a website designed for the CSE360 group project at Arizona State University.<br>
The project consists of an application for a mock doctor's office.<br>
<br>
<br>
<strong>Login Directions</strong><br>
<br>
These are default users with specific roles for testing/grading.<br>
<br>
<ul>
    <li>
        Patient:<br>
        <ul>
            <li>Username: patient</li>
            <li>Password: password</li>
        </ul>
    </li>
    <li>
        Doctor:<br>
        <ul>
            <li>Username: doctor</li>
            <li>Password: password</li>
        </ul>
    </li>
    <li>
        Nurse:<br>
        <ul>
            <li>Username: nurse</li>
            <li>Password: password</li>
        </ul>
    </li>
    <li>
        EMT:<br>
        <ul>
            <li>Username: emt</li>
            <li>Password: password</li>
        </ul>
    </li>
    <li>
        Office Admin:<br>
        <ul>
            <li>Username: office</li>
            <li>Password: password</li>
        </ul>
    </li>
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}