{% extends '::base.html.twig' %}

{% block headline %}Welcome{% endblock headline %}

{% block content_content %}
Testing Default Template
{% endblock content_content %}

{% block content_sidebar %}
<h2>Navi</h2>
{% endblock content_sidebar %}