{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p><a href="{{ path('user_registration') }}">{{ 'registration.back'|trans }}</a></p>
{% endblock fos_user_content %}